<html lang="zh">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ImageBrowser</title>

    <link rel="stylesheet" href="/static/Majestic/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/Majestic/vendors/base/vendor.bundle.base.css">


    <link rel="stylesheet" href="/static/Majestic/vendors/datatables.net-bs4/dataTables.bootstrap4.css">


    <link rel="stylesheet" href="/static/Majestic/css/style.css">

    <link rel="shortcut icon" href="/static/Majestic/images/image.svg">
    <style type="text/css">/* Chart.js */
    @keyframes chartjs-render-animation {
        from {
            opacity: .99
        }
        to {
            opacity: 1
        }
    }

    .chartjs-render-monitor {
        animation: chartjs-render-animation 1ms
    }

    .chartjs-size-monitor, .chartjs-size-monitor-expand, .chartjs-size-monitor-shrink {
        position: absolute;
        direction: ltr;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        pointer-events: none;
        visibility: hidden;
        z-index: -1
    }

    .chartjs-size-monitor-expand > div {
        position: absolute;
        width: 1000000px;
        height: 1000000px;
        left: 0;
        top: 0
    }

    .chartjs-size-monitor-shrink > div {
        position: absolute;
        width: 200%;
        height: 200%;
        left: 0;
        top: 0
    }</style>
</head>
<body>
<div class="container-scroller">

    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="navbar-brand-wrapper d-flex justify-content-center">
            <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
                <a class="navbar-brand brand-logo" href="index.html"><img src="/static/Majestic/images/image.svg"
                                                                          alt="logo"></a>
                <a class="navbar-brand brand-logo-mini" href="index.html"><img
                        src="/static/Majestic/images/logo-mini.svg" alt="logo"></a>
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-sort-variant"></span>
                </button>
            </div>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
            <ul class="navbar-nav mr-lg-4 w-100">
                <li class="nav-item nav-search d-none d-lg-block w-100">
                    <div class="input-group">
                        <div class="input-group-prepend">
                <span class="input-group-text" id="search">
                  <i class="mdi mdi-magnify"></i>
                </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Search now" aria-label="search"
                               aria-describedby="search">
                    </div>
                </li>
            </ul>

            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>

    <div class="container-fluid page-body-wrapper">

        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">
                        <i class="mdi mdi-home menu-icon"></i>
                        <span class="menu-title">Browser</span>
                    </a>
                </li>
                <li class="nav-item active" id="sync">
                    <a class="nav-link">
                        <i class="mdi mdi-sync menu-icon"></i>
                        <span class="menu-title">Sync</span>
                    </a>
                </li>
                <!--
                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false"
                       aria-controls="ui-basic">
                        <i class="mdi mdi-circle-outline menu-icon"></i>
                        <span class="menu-title">UI Elements</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic" style="">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"><a class="nav-link"
                                                    href="/static/Majestic/pages/ui-features/buttons.html">Buttons</a>
                            </li>
                            <li class="nav-item"><a class="nav-link"
                                                    href="/static/Majestic/pages/ui-features/typography.html">Typography</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/static/Majestic/pages/forms/basic_elements.html">
                        <i class="mdi mdi-view-headline menu-icon"></i>
                        <span class="menu-title">Form elements</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/static/Majestic/pages/charts/chartjs.html">
                        <i class="mdi mdi-chart-pie menu-icon"></i>
                        <span class="menu-title">Charts</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/static/Majestic/pages/tables/basic-table.html">
                        <i class="mdi mdi-grid-large menu-icon"></i>
                        <span class="menu-title">Tables</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/static/Majestic/pages/icons/mdi.html">
                        <i class="mdi mdi-emoticon menu-icon"></i>
                        <span class="menu-title">Icons</span>
                    </a>
                </li> -->
            </ul>
        </nav>

        <div class="main-panel">
            <div class="content-wrapper">

                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="d-flex justify-content-between flex-wrap">
                            <div class="d-flex align-items-end flex-wrap">
                                <div class="me-md-3 me-xl-5">
                                    <h2>Welcome ImageBrowser</h2>
                                    <p class="mb-md-0" id="infoVersion">infoVersion</p>
                                    <p class="mb-md-0" id="infoVerify">infoVerify</p>
                                </div>

                            </div>

                            <div class="d-flex justify-content-between align-items-end flex-wrap">
                                <button class="btn btn-success mt-2 mt-xl-0 me-3" id="up">UP</button>
                                <button class="btn btn-warning mt-2 mt-xl-0 me-3" id="download">Down</button>
                                <button class="btn btn-primary mt-2 mt-xl-0" id="next">Next</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" id="main">
                    <p id="current_id" style="display: none">0</p>


                </div>
                <div class="row">

                </div>
            </div>
        </div>
    </div>
</div>


<script src="/static/Majestic/vendors/base/vendor.bundle.base.js"></script>
<script src="https://030399.xyz/upload/CDN/jquery-3.7.0.js"></script>
<script src="/static/Majestic/vendors/chart.js/Chart.min.js"></script>
<script src="/static/Majestic/vendors/datatables.net/jquery.dataTables.js"></script>
<script src="/static/Majestic/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<script src="/static/Majestic/js/off-canvas.js"></script>
<script src="/static/Majestic/js/hoverable-collapse.js"></script>
<!-- <script src="/static/Majestic/js/template.js"></script> -->
<script src="/static/Majestic/js/dashboard.js"></script>
<script src="/static/Majestic/js/data-table.js"></script>
<script src="/static/Majestic/js/jquery.dataTables.js"></script>
<script src="/static/Majestic/js/dataTables.bootstrap4.js"></script>
<script src="/static/Majestic/js/jquery.cookie.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $.get("/api/version", function (data) {
            $("#infoVersion").text("version: " + data.version);
            $("#infoVerify").text(data.verify);
        });
    });
    $("#next").click(function () {
        // 获取当前 id，并转换为整数，加 1
        let currentId = parseInt($("#current_id").text()) + 1;

        // 发送 GET 请求，并传递新的 id
        $.get("/html/view?id=" + currentId, function (response) {
            $('#main').empty();
            $('#main').html(response);
        });
    });

    $("#up").click(function () {
        // 获取当前 id，并转换为整数，加 1
        let currentId = parseInt($("#current_id").text()) - 1;

        // 发送 GET 请求，并传递新的 id
        $.get("/html/view?id=" + currentId, function (response) {
            $('#main').empty();
            $('#main').html(response);
        });
    });

    $("#sync").click(function () {
        $("#sync").hide()
        $.get("/api/sync", function (data) {
            console.log(data.status)
            alert("刷新成功")
            $("#infoVersion").text("version: " + data.version);
            $("#infoVerify").text(data.verify);
            $("#sync").show()
        });
    })
    $("#download").click(function () {
        $("#download").hide()
        let currentId = parseInt($("#current_id").text());
        console.log(currentId);
        // 使用$.post发起POST请求
        $.post("/api/copy", {id: currentId}, function (response) {
            // 请求成功后的处理逻辑
            console.log("POST请求成功，服务器响应：", response);
        })
            .fail(function (jqXHR, textStatus, errorThrown) {
                // 请求失败的处理逻辑
                console.error("POST请求失败: ", textStatus, ", ", errorThrown);
            });
        $("#download").show()
    });
</script>

</body>
</html>