<style>
    /* 自定义模态框的宽度为页面宽度的85% */
    .modal-85w {
        max-width: 85%;
    }

    /* 确保模态框中的图片可以缩放 */
    .modal-body img {
        width: 100%;
        height: auto;
    }
</style>
</head>
<body>
<!-- 当前ID的隐藏元素 -->
<p id="current_id" style="display: none">{{.id}}</p>

<!-- 示例图片列表 -->
<div class="container">
    <div class="row">
        {{range .list}}
        <div class="col-md-3">
            <div class="card mb-4">
                <img src="{{ .Filepath }}" class="card-img-top" alt="{{ .Filename }}">
                <div class="card-body">
                    <h5 class="card-title">{{ .Filename }}</h5>
                </div>
            </div>
        </div>
        {{end}}
    </div>
</div>

<!-- 模态框模板 -->
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-85w" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Image Preview</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="" id="modalImage" class="img-fluid">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- 引入 jQuery 和 Bootstrap 的 JavaScript 文件 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

<script>
    $(document).ready(function () {
        // 点击图片时的处理函数
        $('.card-img-top').click(function () {
            var imageUrl = $(this).attr('src'); // 获取点击图片的src属性，即图片链接

            // 更新模态框中的图片链接
            $('#modalImage').attr('src', imageUrl);

            // 显示模态框
            $('#imageModal').modal('show');
        });
    });

    $(document).ready(function () {
        // 获取两个标签的值
        let currentId = parseInt($("#current_id").text());
        let total = parseInt($("#total").text());
        newTitle = "ImageBrowser " + currentId + "/" + total
        // 更新标题
        $('title').text(newTitle);

    })
</script>